In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv("../data/311-service-requests.csv")
df_2 = pd.read_csv("../data/bikes.csv", sep=";", encoding='latin1', index_col='Date')

/Users/dalpengholic/anaconda3/envs/nbastat1/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_1.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

# 0. Check how many empty cells and Nan values in a dataframe

It is important to know how many nan values in a dataframe because when we need a matrix computation, computers cannot handle nan values or empty cells.

When you use `df.isnull()` or `df.isna()` methods, it returns a boolean dataframe that if there is a emtpy cell or nan, it returns True, otherwise, False.

And If you put `.values.any()`, it takes all values in the dataframe, and check there is an any empty value.

`df.isnull().sum()` returns how many missing values in each column.

if you divide `df.isnull().sum()` by `df.shape[0]`, which is the number of rows in a dataframe, you can get the frequency of nan values in each column.

In [4]:
pd.set_option('display.max_columns', None)
# Use comment and uncomment to execute each line
df_1.isna()
df_1.isnull().values.any()
df_1.isnull().sum()
df_1.isna().sum()/df_1.shape[0]

Unique Key                        0.000000
Created Date                      0.000000
Closed Date                       0.457364
Agency                            0.000000
Agency Name                       0.000000
Complaint Type                    0.000000
Descriptor                        0.004106
Location Type                     0.288532
Incident Zip                      0.110400
Incident Address                  0.239743
Street Name                       0.239824
Cross Street 1                    0.237159
Cross Street 2                    0.243668
Intersection Street 1             0.825658
Intersection Street 2             0.825640
Address Type                      0.079428
City                              0.109977
Landmark                          0.999145
Facility Type                     0.827999
Status                            0.000000
Due Date                          0.646715
Resolution Action Updated Date    0.131108
Community Board                   0.000000
Borough                           0.000000
X Coordinate (State Plane)        0.116378
Y Coordinate (State Plane)        0.116378
Park Facility Name                0.000000
Park Borough                      0.000000
School Name                       0.000000
School Number                     0.000189
School Region                     0.004907
School Code                       0.004907
School Phone Number               0.000000
School Address                    0.000000
School City                       0.000000
School State                      0.000000
School Zip                        0.000000
School Not Found                  0.649011
School or Citywide Complaint      1.000000
Vehicle Type                      0.999109
Taxi Company Borough              0.998947
Taxi Pick Up Location             0.990465
Bridge Highway Name               0.998334
Bridge Highway Direction          0.998334
Road Ramp                         0.998379
Bridge Highway Segment            0.998028
Garage Lot Name                   0.999559
Ferry Direction                   0.999784
Ferry Terminal Name               0.999370
Latitude                          0.116378
Longitude                         0.116378
Location                          0.116378
dtype: float64

# 1. Check occurrence of values in a column

Method `value_counts()`helps to find how many values occur in a column. It returns a series. 

First, select a target column, then use `value_counts()`. For example, `df['coulmn'].value_counts()`.

In [5]:
# Use comment and uncomment to execute each line
df_1['Agency'].value_counts()
df_2['Berri 1'].value_counts()

3341    3
1986    2
303     2
3698    2
3964    2
78      2
71      2
4638    2
397     2
6180    2
2755    2
155     2
5119    1
662     1
157     1
3735    1
5792    1
161     1
3746    1
2211    1
6309    1
3739    1
1684    1
146     1
2195    1
4738    1
119     1
5240    1
876     1
5420    1
       ..
4177    1
2717    1
348     1
2634    1
4652    1
6500    1
2405    1
5980    1
5842    1
4971    1
3948    1
4105    1
334     1
6206    1
1857    1
4553    1
6459    1
316     1
1853    1
318     1
6179    1
4931    1
332     1
2011    1
4947    1
2887    1
1864    1
2890    1
4427    1
4098    1
Name: Berri 1, Length: 297, dtype: int64

# 2. Check unique values in a column

If you want to see how many unique values in a column, you can use `.unique()` method.

ex) `df['col1'].unique()`

If you want to make a list using the result of `unique()`method, you can use `.tolist()` method.

ex) `unique_list = df['col1'].unique().tolist()`

If you want to check how many unique values in a column, you can combine `len()` also.

ex) `num_unique_list = len(df['col1'].unique().tolist()`

or you can get the number of unique values using `size` or `shape` attribute because ` df['col1'].unique()` this returns a numpy array.

ex) `num_unique_list = df['col1'].unique().size`

In [72]:
# Use comment and uncomment to execute each line
# df_1['Agency'].unique()
# tmp = df_1['Agency'].unique().tolist()
# tmp
# num_unique_list = len(df_1['Agency'].unique().tolist())
# num_unique_list
num_unique_list = df_1['Agency'].unique().size
num_unique_list
num_unique_list = df_1['Agency'].size
num_unique_list
# # df_1['Agency'].unique().shape
# df_1['Agency'].size

111069

It is possible to check the number of unique values in all columns.

In [58]:
# Use comment and uncomment to execute each line
# df_2.nunique()
# df_2.nunique(dropna=False)
df_1.nunique()

Unique Key                        111069
Created Date                       57872
Closed Date                        35596
Agency                                26
Agency Name                          135
Complaint Type                       165
Descriptor                           788
Location Type                         90
Incident Zip                         441
Incident Address                   41189
Street Name                         5922
Cross Street 1                      5733
Cross Street 2                      5757
Intersection Street 1               4369
Intersection Street 2               4699
Address Type                           5
City                                 142
Landmark                              32
Facility Type                          3
Status                                 7
Due Date                           33860
Resolution Action Updated Date     39241
Community Board                       77
Borough                                6
X Coordinate (State Plane)         36877
Y Coordinate (State Plane)         40239
Park Facility Name                   337
Park Borough                           6
School Name                          337
School Number                        291
School Region                         11
School Code                           60
School Phone Number                   58
School Address                       334
School City                           32
School State                           2
School Zip                           130
School Not Found                       2
School or Citywide Complaint           0
Vehicle Type                           3
Taxi Company Borough                   5
Taxi Pick Up Location                  7
Bridge Highway Name                   37
Bridge Highway Direction              38
Road Ramp                              2
Bridge Highway Segment               160
Garage Lot Name                       17
Ferry Direction                        2
Ferry Terminal Name                   39
Latitude                           50627
Longitude                          50505
Location                           50653
dtype: int64

# 3. Basic funtions : sum(), count()

## sum()

Let's calculate the sum of a column. To do it, we need to find a numerical column first

In [30]:
df_2.info()
df_2.head()
df_2['Berri 1']

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 01/01/2012 to 05/11/2012
Data columns (total 9 columns):
Berri 1                                310 non-null int64
BrÃ©beuf (donnÃ©es non disponibles)      0 non-null float64
CÃ´te-Sainte-Catherine                  310 non-null int64
Maisonneuve 1                          310 non-null int64
Maisonneuve 2                          310 non-null int64
du Parc                                310 non-null int64
Pierre-Dupuy                           310 non-null int64
Rachel1                                310 non-null int64
St-Urbain (donnÃ©es non disponibles)    0 non-null float64
dtypes: float64(2), int64(7)
memory usage: 34.2+ KB

Date
01/01/2012      35
02/01/2012      83
03/01/2012     135
04/01/2012     144
05/01/2012     197
06/01/2012     146
07/01/2012      98
08/01/2012      95
09/01/2012     244
10/01/2012     397
11/01/2012     273
12/01/2012     157
13/01/2012      75
14/01/2012      32
15/01/2012      54
16/01/2012     168
17/01/2012     155
18/01/2012     139
19/01/2012     191
20/01/2012     161
21/01/2012      53
22/01/2012      71
23/01/2012     210
24/01/2012     299
25/01/2012     334
26/01/2012     306
27/01/2012      91
28/01/2012      80
29/01/2012      87
30/01/2012     219
              ...
07/10/2012    1580
08/10/2012    1854
09/10/2012    4787
10/10/2012    3115
11/10/2012    3746
12/10/2012    3169
13/10/2012    1783
14/10/2012     587
15/10/2012    3292
16/10/2012    3739
17/10/2012    4098
18/10/2012    4671
19/10/2012    1313
20/10/2012    2011
21/10/2012    1277
22/10/2012    3650
23/10/2012    4177
24/10/2012    3744
25/10/2012    3735
26/10/2012    4290
27/10/2012    1857
28/10/2012    1310
29/10/2012    2919
30/10/2012    2887
31/10/2012    2634
01/11/2012    2405
02/11/2012    1582
03/11/2012     844
04/11/2012     966
05/11/2012    2247
Name: Berri 1, Length: 310, dtype: int64

Let's get the sum of `df_2['Berri 1']` column using `sum()` method.

In [34]:
%%time #To check the consumed time
df_2['Berri 1'].sum()

CPU times: user 343 Âµs, sys: 23 Âµs, total: 366 Âµs
Wall time: 367 Âµs

925365

Let's do more complicated things.

In [38]:
df_2.head()
# column_list = df_2.columns.tolist()
# column_list

,Berri 1,BrÃ©beuf (donnÃ©es non disponibles),CÃ´te-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (donnÃ©es non disponibles)
Date,,,,,,,,,
01/01/2012,35,NaN,0,38,51,26,10,16,NaN
02/01/2012,83,NaN,1,68,153,53,6,43,NaN
03/01/2012,135,NaN,2,104,248,89,3,58,NaN
04/01/2012,144,NaN,1,116,318,111,8,61,NaN
05/01/2012,197,NaN,2,124,330,97,13,95,NaN

In [40]:
df_2[column_list[2]].unique() 
#I wanted to select 'CÃ´te-Sainte-Catherine' column. Instead of using the name directly, I made a list of the columns names, and index it.

array([   0,    1,    2,    3,    4,    6,    5,   10,    8,   13,   60,
        179,  145,  146,  244,  149,  287,  856, 1024, 1261, 1558, 1030,
       1143,  336,  243,  564,  517,  406,  529,  499,  341,  967, 1078,
        933, 1036,  650,  494,  560,  298,  909, 1049, 1483, 1505, 1072,
       1210, 1841, 1616, 1751, 2010,  800,  212,  487,  315,  720, 1023,
       1069,  743,  628,  765, 1572,  815, 1677, 1618, 1163, 1366, 1525,
       2573,  625, 1545, 1227, 1803, 1457, 1223, 2709, 1773, 2178, 2441,
       2241, 1454, 1663, 1646,  938, 2650, 2653, 2205, 1622, 1962, 1184,
       2722, 2177, 2604,  392, 1897, 1408, 2721, 2724, 2607, 1833, 1672,
       1812, 2577, 1556, 2792, 2978, 2469, 1651, 1552, 2703, 2360, 2402,
       2195, 1934, 1326, 1152, 1077, 1435, 1322, 2381, 1935, 1359, 1343,
       1397, 2634, 2038, 2603, 2095, 1289, 1497, 2330, 2625, 2548, 2371,
       2005, 1244, 1060, 2092, 1046, 2589, 2397, 2088, 1419, 1238, 1660,
       2318, 2593, 2043, 1948, 1345, 1332, 2285, 2185, 1842, 2361, 1915,
       1305,  630, 2277, 2410, 2313, 1802,  934, 1338, 2298, 2322, 1882,
       2538, 1777, 1333, 2474, 2508, 2671, 2482, 2394, 1318, 2273, 2794,
       3092, 2910, 1868, 1225, 1232, 1532, 2883, 2720, 1192, 1810, 2913,
       3124, 3076, 2257, 1100, 1231, 2658, 1277, 2351, 2496, 1821,  656,
       1093, 2246, 2236, 1873, 2288, 2134,  755,  359, 1576, 2525, 2377,
       2025, 1977,  469,  660,  880, 2210, 1537, 1857, 1460,  802, 1678,
       1858, 1964, 2292,  597,  748,  609, 1819, 1997, 1815, 1987,  792,
        697, 1458, 1251, 1294, 1208,  737,  380,  446, 1170])

Ok. There are some values. Let me check it again with `value_counts()`

In [45]:
df_2[column_list[2]].value_counts()
df_2[column_list[2]].value_counts(ascending=False, dropna=False)

0       31
1       16
2        7
3        4
4        3
5        3
815      2
1305     2
287      2
1868     2
2722     2
1934     2
2792     2
10       2
179      2
6        2
1525     2
1408     2
2205     1
2210     1
1192     1
2724     1
2721     1
1030     1
1184     1
149      1
2177     1
1170     1
802      1
697      1
        ..
1333     1
1072     1
469      1
2360     1
359      1
2402     1
2913     1
2910     1
2397     1
1882     1
856      1
1244     1
1366     1
341      1
1873     1
336      1
1962     1
2381     1
2394     1
2377     1
1777     1
3076     1
2371     1
1858     1
1345     1
1343     1
315      1
1338     1
2361     1
2720     1
Name: CÃ´te-Sainte-Catherine, Length: 240, dtype: int64

OK. Now let's do `df_2['Berri 1'].sum()` again with some conditions. Before counting the sum, hold the values that we want first.

In [47]:
# 1. Select a part of df_2 that df_2[column_list[2]] is equal to 1
# 2. From 1, select ['Berri 1'] 
df_2[df_2[column_list[2]] == 1]['Berri 1']

Date
02/01/2012     83
04/01/2012    144
08/01/2012     95
12/01/2012    157
19/01/2012    191
24/01/2012    299
25/01/2012    334
28/01/2012     80
29/01/2012     87
31/01/2012    186
03/02/2012    174
06/02/2012    248
10/02/2012    303
16/02/2012    386
18/02/2012    220
05/03/2012    155
Name: Berri 1, dtype: int64

In [48]:
df_2[df_2[column_list[2]] == 1]['Berri 1'].sum()

3142

In [49]:
df_2.nunique()

Berri 1                                297
BrÃ©beuf (donnÃ©es non disponibles)        0
CÃ´te-Sainte-Catherine                  240
Maisonneuve 1                          294
Maisonneuve 2                          306
du Parc                                295
Pierre-Dupuy                           249
Rachel1                                261
St-Urbain (donnÃ©es non disponibles)      0
dtype: int64

In [64]:
# df_2[column_list[2]].count()
df_2[column_list[2]].size

310

## count()

This function counts the non-nan values in a column. Let's check.

In [77]:
df_1.shape
df_1.head(n=2)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Action Updated Date,Community Board,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Park Facility Name,Park Borough,School Name,School Number,School Region,School Code,School Phone Number,School Address,School City,School State,School Zip,School Not Found,School or Citywide Complaint,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,169 STREET,90 AVENUE,91 AVENUE,NaN,NaN,ADDRESS,JAMAICA,NaN,Precinct,Assigned,10/31/2013 10:08:41 AM,10/31/2013 02:35:17 AM,12 QUEENS,QUEENS,1042027.0,197389.0,Unspecified,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,58 AVENUE,58 PLACE,59 STREET,NaN,NaN,BLOCKFACE,MASPETH,NaN,Precinct,Open,10/31/2013 10:01:04 AM,NaN,05 QUEENS,QUEENS,1009349.0,201984.0,Unspecified,QUEENS,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"

In [80]:
# Use comment and uncomment to execute each line
df_1['Agency Name'].size
df_1['Agency Name'].count()

111069

`df['col1'].size` returns an array showing that how many cells in a column.

`df['col1'].count()` returns an array showing that how non-nan values in a column.

In [87]:
# Use comment and uncomment to execute each line
df_1['Closed Date'].size
df_1['Closed Date'].count()
df_1['Incident Zip'].size
df_1['Incident Zip'].count()

60270

There is a useful method `describe()`. But we can statistical values using `min()`, `max()`, `median()`, `quantile()`, `mean()`, `var()`, `std()`

In [91]:
# Use comment and uncomment to execute each line
df_1['Incident Zip'].dtype

dtype('O')

I cannot use df_1['Incident Zip'] because it is dtype('O'). Let's find a column having numerical values

In [92]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111069 entries, 0 to 111068
Data columns (total 52 columns):
Unique Key                        111069 non-null int64
Created Date                      111069 non-null object
Closed Date                       60270 non-null object
Agency                            111069 non-null object
Agency Name                       111069 non-null object
Complaint Type                    111069 non-null object
Descriptor                        110613 non-null object
Location Type                     79022 non-null object
Incident Zip                      98807 non-null object
Incident Address                  84441 non-null object
Street Name                       84432 non-null object
Cross Street 1                    84728 non-null object
Cross Street 2                    84005 non-null object
Intersection Street 1             19364 non-null object
Intersection Street 2             19366 non-null object
Address Type                      102247 non-null object
City                              98854 non-null object
Landmark                          95 non-null object
Facility Type                     19104 non-null object
Status                            111069 non-null object
Due Date                          39239 non-null object
Resolution Action Updated Date    96507 non-null object
Community Board                   111069 non-null object
Borough                           111069 non-null object
X Coordinate (State Plane)        98143 non-null float64
Y Coordinate (State Plane)        98143 non-null float64
Park Facility Name                111069 non-null object
Park Borough                      111069 non-null object
School Name                       111069 non-null object
School Number                     111048 non-null object
School Region                     110524 non-null object
School Code                       110524 non-null object
School Phone Number               111069 non-null object
School Address                    111069 non-null object
School City                       111069 non-null object
School State                      111069 non-null object
School Zip                        111069 non-null object
School Not Found                  38984 non-null object
School or Citywide Complaint      0 non-null float64
Vehicle Type                      99 non-null object
Taxi Company Borough              117 non-null object
Taxi Pick Up Location             1059 non-null object
Bridge Highway Name               185 non-null object
Bridge Highway Direction          185 non-null object
Road Ramp                         180 non-null object
Bridge Highway Segment            219 non-null object
Garage Lot Name                   49 non-null object
Ferry Direction                   24 non-null object
Ferry Terminal Name               70 non-null object
Latitude                          98143 non-null float64
Longitude                         98143 non-null float64
Location                          98143 non-null object
dtypes: float64(5), int64(1), object(46)
memory usage: 44.1+ MB

In [99]:
value_min = df_1['Unique Key'].min()
value_max = df_1['Unique Key'].max()
value_median = df_1['Unique Key'].median()
value_mean = df_1['Unique Key'].mean()
value_quantile_25 = df_1['Unique Key'].quantile(.25)
value_quantile_80 = df_1['Unique Key'].quantile(.80)
value_var = df_1['Unique Key'].var()
value_std = df_1['Unique Key'].std()

print("min", value_min)
print("max", value_max)
print("median", value_median)
print("mean", value_mean)
print("quantile_25", value_quantile_25)
print("quantile_80", value_quantile_80)
print("var", value_var)
print("std", value_std)

min 26425880
max 26596133
median 26514717.0
mean 26515650.488453124
quantile_25 26474334.0
quantile_80 26564465.8
var 2203887381.2878094
std 46945.57893228935